@import "tailwindcss";


@keyframes slowZoom {
  0% { transform: scale(1.1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1.1); }
}

html {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
  background-color: #0b1120;
}